<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" content="{{ _csrf.token }}">
    <link rel="stylesheet" href="/static/lib/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/fontawesom/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Записки</title>
</head>
<body>
<header class="navbar navbar-dark bg-dark">
    <div class="navbar-brand logo">
        <h5>Записки сумасшедшего</h5>
    </div>
    <form class="form-inline" action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
    </form>
</header>
<main class="content">
    <div class="container-fluid" >
        <div class="row justify-content-center" id="main">
            <main-form></main-form>
        </div>
    </div>
</main>
<footer class="footer fixed-bottom text-center">
    <p>2020 &copy Виктория Черненко</p>
</footer>
<script src="/static/lib/jquery-3.5.1.min.js"></script>
<script src="/static/lib/bootstrap.min.js"></script>
<script src="/static/lib/vue/vue.js"></script>
<script src="/static/lib/vue/vue-resource.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>